<div class="icon-container">
    <span class="static-svg">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
            <path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
                c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"></path>
            <path d="M19,11.3l14.1,14.1"></path>
        </svg>
    </span>
    <span class="animation-svg">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
            <path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
                c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z" style="stroke-dashoffset: 122.856; stroke-dasharray: 122.856, 122.856;"></path>
            <path d="M19,11.3l14.1,14.1" style="stroke-dashoffset: 19.9404; stroke-dasharray: 19.9404, 19.9404;"></path>
        </svg>
    </span>
</div>
