<div class="icon-container">
    <span class="static-svg">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 39.9 43" xml:space="preserve">
            <path d="M31.1,16.4c0,8.1-6.6,14.7-14.7,14.7S1.8,24.5,1.8,16.4S8.3,1.8,16.4,1.8S31.1,8.3,31.1,16.4z"></path>
            <path d="M25.5,28.6l13.1,13.1"></path>
        </svg>
    </span>
    <span class="animation-svg">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 39.9 43" xml:space="preserve">
            <path d="M31.1,16.4c0,8.1-6.6,14.7-14.7,14.7S1.8,24.5,1.8,16.4S8.3,1.8,16.4,1.8S31.1,8.3,31.1,16.4z" style="stroke-dashoffset: 92.0776; stroke-dasharray: 92.0776, 92.0776;"></path>
            <path d="M25.5,28.6l13.1,13.1" style="stroke-dashoffset: 18.5262; stroke-dasharray: 18.5262, 18.5262;"></path>
        </svg>
    </span>
</div>
