<div class="navigation-bar">
    <div class="navigation-bar__buttons">
        <app-calendar-icon class="navigation-bar__icon" data-tooltip="view calendar"></app-calendar-icon>
        <app-tickets-icon class="navigation-bar__icon" data-tooltip="buy tickets"></app-tickets-icon>
        <app-hamburger-icon
            (click)="toogleMenu($event)">
        </app-hamburger-icon>
        <app-search-icon class="navigation-bar__icon" data-tooltip="search"></app-search-icon>
        <app-location-icon class="navigation-bar__icon" data-tooltip="view location"></app-location-icon>
    </div>
    <div class="navigation-bar__overlays">

    </div>
</div>